<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Avant Garde</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/styles.css">
      <link href="https://fonts.googleapis.com/css2?family=Forum&family=Jost&display=swap" rel="stylesheet">
    </head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <div class="navbar-header">
            <a href="/home"><p class="navbar-brand">AVANT GARDE</p></a>
          </div>
          <div id="nav-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <div id="open-button" class="open-button">
              <img src="/img/menu.png" alt="nav-bar">
            </div>
            <img id="close-button" class="switchoff" src="/img/cancel.png" alt="nav-bar">
        </div>
          <div id="navbar-toggle" class="collapse-items">
            <ul class="navbar-nav">
              <li class="nav-item" id="about"><a class="nav-link" href="/home">HOME</a></li>
              <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT</a></li>
              <li class="nav-item" id="about"><a class="nav-link" href="/compose">COMPOSE</a></li>
              <li class="nav-item" id="logout"><a class="nav-link" href="/logout">LOGOUT</a></li>
            </ul>
          </div>
      </nav>
   <div class="container">
