<%- include("partials/header") -%>

<div class="container content">
  <h1>Compose</h1>
<form action="/compose" method="post">
  <label class="col-form-label" for="title">Title</label>
  <input class="form-control" type="text" name="title">

  <label class="col-form-label" for="message">Post</label>
  <textarea class="form-control" name="message" rows="8"></textarea>
 
    <button class="btn btn-primary" type="submit" name="publish">Publish</button>
</form>
</div>

<%- include("partials/footer") -%>
